@import "tailwindcss";

/* Your custom CSS variables and base styles */
:root {
    --primary-color: #4bc1c5;
    --secondary-color: #a2a1e0;
    --background-color: #f5f5f5;
    --text-color: #333;
    --text-light: #666;
    --border-radius: 5px;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;
}