@import "tailwindcss";

@font-face {
    font-family: 'Poppins Light';
    src: url('../assets/components/common/font-family/Poppins/Poppins-Light.ttf') format('truetype');
}

/* Your custom CSS variables and base styles */
:root {
    --primary-color: #4bc1c5;
    --secondary-color: #a2a1e0;
    --background-color: #f5f5f5;
    --text-color: #333;
    --text-light: #666;
    --border-radius: 5px;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    /* Global Font Family - Change this one variable to update all fonts */
    --font-family: 'Poppins Light', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family) !important;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;
}