.login-page {
  font-family: var(--font-family);
  background: url("../../images/bgimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  width: 850px;
  height: 500px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease-in-out;
}

.login-container:hover {
  transform: scale(1.01);
}

.login-left {
  width: 50%;
  background: url(../../images/Logo.png), linear-gradient(135deg, #e8f5e9 0%, #f1f8e9 25%, #ffffff 50%, #e8f5e9 75%, #c8e6c9 100%);
  background-size: 60%, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.login-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #FFFDF6;
}

.login-left p {
  font-size: 16px;
  max-width: 250px;
  opacity: 0.95;
}

.login-right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-right h3 {
  font-size: 18px;
  font-weight: 600;
}

.login-right label {
  font-size: 13px;
  font-weight: 500;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #4e944f;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-34%);
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 1;
  padding-bottom: 6px;
  text-align: center;
  color: #4e944f;
}

.checkbox-container {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

#remember {
  margin-right: 5px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #4e944f;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #3c7a3d;
}

.forgot-password {
  text-align: center;
  color: #4e944f;
  font-size: 14px;
  margin-top: 12px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ffcdd2;
}